In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
print("Import Complete!")

Import Complete!

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
extracting_data = requests.get(url).text
wiki_data = BeautifulSoup(extracting_data, 'lxml')

Converting the postal code data into the dataframe

In [3]:
column_names = ['Postalcode','Borough','Neighborhood']
toronto = pd.DataFrame(columns = column_names)

content = wiki_data.find('div', class_='mw-parser-output')
table = content.table.tbody
postcode = 0
borough = 0
neighborhood = 0

for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postcode = td.text
            i = i + 1
        elif i == 1:
            borough = td.text
            i = i + 1
        elif i == 2: 
            neighborhood = td.text.strip('\n').replace(']','')
    toronto = toronto.append({'Postalcode': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)

Cleaning the dataframe

In [4]:
# clean dataframe 
toronto = toronto[toronto.Borough!='Not assigned']
toronto = toronto[toronto.Borough!= 0]
toronto.reset_index(drop = True, inplace = True)
i = 0
for i in range(0,toronto.shape[0]):
    if toronto.iloc[i][2] == 'Not assigned':
        toronto.iloc[i][2] = toronto.iloc[i][1]
        i = i+1

In [5]:
df = toronto.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df

                                           Postalcode  ...                                       Neighborhood
0                               \nM1ANot assigned\n\n  ...                     M9AEtobicoke(Islington Avenue)
1               \nM1BScarborough(Malvern / Rouge)\n\n  ...  M9BEtobicoke(West Deane Park / Princess Garden...
2   \nM1CScarborough(Rouge Hill / Port Union / Hig...  ...  M9CEtobicoke(Eringate / Bloordale Gardens / Ol...
3   \nM1EScarborough(Guildwood / Morningside / Wes...  ...                                    M9ENot assigned
4                        \nM1GScarborough(Woburn)\n\n  ...                                    M9GNot assigned
5                     \nM1HScarborough(Cedarbrae)\n\n  ...                                    M9HNot assigned
6           \nM1JScarborough(Scarborough Village)\n\n  ...                                    M9JNot assigned
7   \nM1KScarborough(Kennedy Park / Ionview / East...  ...                                    M9KNot assigned
8   \nM1LScarborough(Golden Mile / Clairlea / Oakr...  ...                       M9LNorth York(Humber Summit)
9   \nM1MScarborough(Cliffside / Cliffcrest / Scar...  ...                   M9MNorth York(Humberlea / Emery)
10  \nM1NScarborough(Birch Cliff / Cliffside West)...  ...                                    M9NYork(Weston)
11  \nM1PScarborough(Dorset Park / Wexford Heights...  ...                            M9PEtobicoke(Westmount)
12           \nM1RScarborough(Wexford / Maryvale)\n\n  ...  M9REtobicoke(Kingsview Village / St. Phillips ...
13                   \nM1SScarborough(Agincourt) \n\n  ...                                    M9SNot assigned
14  \nM1TScarborough(Clarks Corners / Tam O'Shante...  ...                                    M9TNot assigned
15  \nM1VScarborough(Milliken / Agincourt North / ...  ...  M9VEtobicoke(South Steeles / Silverstone / Hum...
16  \nM1WScarborough(Steeles West / L'Amoreaux Wes...  ...  M9WEtobicokeNorthwest(Clairville / Humberwood ...
17                  \nM1XScarborough(Upper Rouge)\n\n  ...                                    M9XNot assigned
18                              \nM1YNot assigned\n\n  ...                                    M9YNot assigned
19                              \nM1ZNot assigned\n\n  ...                                    M9ZNot assigned

[20 rows x 3 columns]

In [6]:
df.describe()

                                               Postalcode  ...             Neighborhood
count                                                  20  ...                       20
unique                                                 20  ...                       20
top     \nM1MScarborough(Cliffside / Cliffcrest / Scar...  ...  M9PEtobicoke(Westmount)
freq                                                    1  ...                        1

[4 rows x 3 columns]

Dropping the null values

In [7]:
df = df.dropna()
empty = 'Not assigned'
df = df[(df.Postalcode != empty ) & (df.Borough != empty) & (df.Neighborhood != empty)]

In [8]:
df.head()

                                          Postalcode  ...                                       Neighborhood
0                              \nM1ANot assigned\n\n  ...                     M9AEtobicoke(Islington Avenue)
1              \nM1BScarborough(Malvern / Rouge)\n\n  ...  M9BEtobicoke(West Deane Park / Princess Garden...
2  \nM1CScarborough(Rouge Hill / Port Union / Hig...  ...  M9CEtobicoke(Eringate / Bloordale Gardens / Ol...
3  \nM1EScarborough(Guildwood / Morningside / Wes...  ...                                    M9ENot assigned
4                       \nM1GScarborough(Woburn)\n\n  ...                                    M9GNot assigned

[5 rows x 3 columns]

In [9]:
def neighborhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))
                    
grp = df.groupby(['Postalcode', 'Borough'])
df_2 = grp.apply(neighborhood_list).reset_index(name='Neighborhood')

In [10]:
df_2.describe()

                                               Postalcode  ...             Neighborhood
count                                                  20  ...                       20
unique                                                 20  ...                       20
top     \nM1MScarborough(Cliffside / Cliffcrest / Scar...  ...  M9PEtobicoke(Westmount)
freq                                                    1  ...                        1

[4 rows x 3 columns]

In [11]:
print(df_2.shape)
df_2.head()

(20, 3)

                                          Postalcode  ...                                       Neighborhood
0                              \nM1ANot assigned\n\n  ...                     M9AEtobicoke(Islington Avenue)
1              \nM1BScarborough(Malvern / Rouge)\n\n  ...  M9BEtobicoke(West Deane Park / Princess Garden...
2  \nM1CScarborough(Rouge Hill / Port Union / Hig...  ...  M9CEtobicoke(Eringate / Bloordale Gardens / Ol...
3  \nM1EScarborough(Guildwood / Morningside / Wes...  ...                                    M9ENot assigned
4                       \nM1GScarborough(Woburn)\n\n  ...                                    M9GNot assigned

[5 rows x 3 columns]

In [12]:
df_2.to_csv('toronto.csv', index=False)